@font-face {
  font-family: 'Courier New';
  src: url('/assets/fonts/CourierNew.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('/assets/fonts/Arial.ttf') format('truetype');
}

@font-face {
  font-family: 'Times New Roman';
  src: url('/assets/fonts/TimesNewRoman.ttf') format('truetype');
}

@font-face {
  font-family: 'APL385 Unicode';
  src: url('/assets/fonts/Apl385.ttf') format('truetype');
}
